{% extends 'base.html' %}

{% block content %}
<div class="card mb-5">
    <div class="card-header bg-secondary text-white">
        {{player.get_full_name}}'s Details
    </div>

</div>

<div class="card mb-5">
    <div class="card-header bg-secondary text-white">
        {{player.get_full_name}}'s Parents/Caretakers
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Activated?</th>
                        <th>Verified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in player.userplayer_set.all %}
                    <tr>
                        <td>{{ entry.user.get_full_name }}</td>
                        <td>{{ entry.user.email }}</td>
                        <td>{{ entry.user.telephone }}</td>
                        <td>{{ entry.user.is_active }}</td>
                        <td>{{ entry.user.is_verified }}</td>
                        <td>
                            <a href="{% url 'account:care-takers-details' entry.user.pk %}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="card mb-5">
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
        <span>{{player.get_full_name}}'s Trainings</span>
        <a href="#" class="btn btn-primary btn-sm btn-light" data-bs-toggle="modal"
            data-bs-target="#addPlayerToSchedule">Add Training</a>
    </div>

    <div class="card-body">
        <div id="scheduling-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" role="tab" href="#upcoming">Upcoming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#past" data-bs-toggle="tab" role="tab">Past</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="upcoming" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped datatable">
                        <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End time</th>
                                <th>Description</th>
                                <th>Fee</th>
                                <th>Attended?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in upcoming_trainings %}
                            <tr>
                                <td>{{ item.schedule.venue }}</td>
                                <td>{{ item.schedule.date }}</td>
                                <td>{{ item.schedule.start_time }}</td>
                                <td>{{ item.schedule.end_time }}</td>
                                <td>{{ item.schedule.description }}</td>
                                <td>{{ item.fee }}</td>
                                <td>{{ item.attended }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="past" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped datatable">
                        <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End time</th>
                                <th>Description</th>
                                <th>Fee</th>
                                <th>Attended?</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for item in past_trainings %}
                            <tr>
                                <td>{{ item.schedule.venue }}</td>
                                <td>{{ item.schedule.date }}</td>
                                <td>{{ item.schedule.start_time }}</td>
                                <td>{{ item.schedule.end_time }}</td>
                                <td>{{ item.schedule.description }}</td>
                                <td>{{ item.fee }}</td>
                                <td>{{ item.attended }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'players/add-to-schedule-modal.html' %}

{% endblock %}
