{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
        <div>Players</div>
        <div>
            <button class="btn btn-sm btn-secondary btn-light" data-bs-toggle="modal" data-bs-target="#addPlayer">
                Add player
          </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped"> 
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>DOB</th>
                        <th>Position</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.first_name }}</td>
                            <td>{{ player.last_name }}</td>
                            <td>{{ player.dob }}</td>
                            <td>{{ player.position }}</td>
                            <td>
                                <a href="{% url 'account:player-details' player.pk %}">View</a>
                                <a href="">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% include 'players/create-modal.html' %}

{% endblock %}
