{% extends 'base.html' %}

{% block content %}
<div class="card mb-5">
    <div class="card-header bg-secondary text-white">
        {{user.get_full_name}}'s Details
    </div>

</div>

<div class="card mb-5">
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
        <span>{{user.get_full_name}}'s Players</span>
        <a href="#" class="btn btn-primary btn-light"  data-bs-toggle="modal" data-bs-target="#assignPlayer">Add Player</a>
    </div>

</div>

<div class="card mb-5">
    <div class="card-header bg-secondary text-white">
        {{user.get_full_name}}'s Payments
    </div>

</div>

 {% include 'users/add-player-modal.html' %}


{% endblock %}
