{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header bg-secondary text-white">Parents/Caretakers</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped datatable"> 
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Activated?</th>
                        <th>Verified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parent in parents %}
                        <tr>
                            <td>{{ parent.get_full_name }}</td>
                            <td>{{ parent.email }}</td>
                            <td>{{ parent.telephone }}</td>
                            <td>{{ parent.is_active }}</td>
                            <td>{{ parent.is_verified }}</td>
                            <td>
                                <a href="{% url 'account:care-takers-details' parent.pk %}">View</a>
                                <a href="">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}
